.container-menu-title h1{
  color: #8df85a;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 90px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;

}

.container-menu-title hr{
  margin-top: 20px;
  margin-bottom: 5px;
}

